@use "../utilities/css-variables" as cv;
@use "../utilities/initial-variables" as iv;

.#{iv.$class-prefix}loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid cv.getVar("border");
  border-radius: cv.getVar("radius-rounded");
  border-inline-end-color: transparent;
  border-block-start-color: transparent;
  content: "";
  display: block;
  block-size: 1em;
  position: relative;
  inline-size: 1em;
}
